.env
__pycache__

## search database
search_chatbot.db
search_chatbot.db-shm
search_chatbot.db-wal

## rag database
rag_chatbot.db
rag_chatbot.db-shm
rag_chatbot.db-wal

## chroma vector store
chroma_langchain_db*
uploads
database/sessions.json
