streamlit
langchain
langgraph
langchain-groq
python-dotenv
langgraph-checkpoint-sqlite
langchain-tavily
langchain-community
langchain-chroma
sentence-transformers
tavily-python
langchain-huggingface
pypdf
requests
pysqlite3-binary ; sys_platform == "linux"
